Mathias Goncalves <goncalves.mathias@gmail.com> <mathiasg@mit.edu>
Matteo Visconti di Oleggio Castello <mvdoc@users.noreply.github.com>
Matteo Visconti di Oleggio Castello <matteo.visconti.gr@dartmouth.edu>
Matteo Visconti di Oleggio Castello <mvdoc.gr@dartmouth.edu>
Chris Filo Gorgolewski <krzysztof.gorgolewski@gmail.com> Chris Gorgolewski <krzysztof.gorgolewski@gmail.com>
Pablo Velasco <pablo.velasco@nyu.edu>
Pablo Velasco <pablovelasco@flywheel.io>
Dae Houlihan <daeda@mit.edu>
Dae Houlihan <daeh@users.noreply.github.com>
Mathias Goncalves <goncalves.mathias@gmail.com>
Mathias Goncalves <mathiasg@stanford.edu>
