Basile Pinsard <basile.pinsard@gmail.com>
Chris Filo Gorgolewski <krzysztof.gorgolewski@gmail.com> Chris Gorgolewski <krzysztof.gorgolewski@gmail.com>
Christopher J. Markiewicz <markiewicz@stanford.edu>
Dae Houlihan <daeda@mit.edu> Dae <daeh@users.noreply.github.com>
Isaac To <candleindark@gmail.com> Isaac To <candleindark@users.noreply.github.com>
John Lee <johnleenimh@gmail.com>
John Lee <johnleenimh@gmail.com> <leej3@users.noreply.github.com>
John T. Wodder II <git@varonathe.org> <jwodder@users.noreply.github.com>
Jörg Stadler <joerg.stadler@lin-magdeburg.de> Joerg Stadler <joerg.stadler@lin-magdeburg.de>
Jörg Stadler <joerg.stadler@lin-magdeburg.de> Joerg Stadler <jstadler@lin-magdeburg.de>
Jörg Stadler <joerg.stadler@lin-magdeburg.de> Jörg Stadler <jstadler@lin-magdeburg.de>
Jörg Stadler <joerg.stadler@lin-magdeburg.de> Jörg Stadler <Stadler@lin-magdeburg.de>
Mathias Goncalves <goncalves.mathias@gmail.com> mathiasg <mathiasg@mit.edu>
Mathias Goncalves <goncalves.mathias@gmail.com> mathiasg <mathiasg@stanford.edu>
Mathias Goncalves <goncalves.mathias@gmail.com> Mathias Goncalves <mathiasg@mit.edu>
Mathias Goncalves <goncalves.mathias@gmail.com> Mathias Goncalves <mathiasg@stanford.edu>
Matteo Visconti di Oleggio Castello <matteo.visconti.gr@dartmouth.edu> Matteo Visconti dOC <matteo.visconti.gr@dartmouth.edu>
Matteo Visconti di Oleggio Castello <matteo.visconti.gr@dartmouth.edu> Matteo Visconti dOC <mvdoc.gr@dartmouth.edu>
Matteo Visconti di Oleggio Castello <matteo.visconti.gr@dartmouth.edu> <mvdoc@users.noreply.github.com>
Michael Dayan <michael.dayan@fcbg.ch> <79224807+neurorepro@users.noreply.github.com>
Michael Krause <krause@mpib-berlin.mpg.de> <mk@galax.is>
Pablo Velasco <pablo.velasco@nyu.edu> <pablovelasco@flywheel.io>
Pablo Velasco <pablo.velasco@nyu.edu> pvelasco <pablo.velasco@nyu.edu>
Satrajit Ghosh <satrajit.ghosh@gmail.com> Satrajit Ghosh <satra@mit.edu>
Steven Tilley <steve@steventilley.com> Steven Tilley <stilley2@jhmi.edu>
Steven Tilley <steve@steventilley.com> Steven Tilley <stilley2@localhost.localdomain>
